NKStreamerServerV2/Release/NKStream.8D97140B.tlog/link.write.1.tlog
*.tlog
NKStreamerServerV2/Debug/NKStreamerServerV2.log
NKStreamerServerV2/Debug/
NKStreamerServerV2/Release/
Debug/
Release/
NKStreamerServerV2.VC.VC.opendb
NKStreamerServerV2.VC.db
